@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-width: 900px;
  --c-brand: #2980b9;
  // --c-bg: #f5f5d5;
}

.page {
  padding-right: 150px;
}

@media screen and (max-width: 719px) {
  .page {
    padding-right: 0;
  }
}

body {
  overflow-y: scroll;
  color: #111;
}

.text-24 {
  font-size: 24px;
}

.font-bold {
  font-weight: 500;
}