:root {
  --content-width: 900px;
  --c-brand: #2980b9;
}

.page {
  padding-right: 150px;
}

@media screen and (max-width: 719px) {
  .page {
    padding-right: 0;
  }
}

body {
  overflow-y: scroll;
  background-color: #f5f5d5;
  font-family: Georgia,serif;
  color: #111;
}
